---
import VueArticleHero from './vue/VueArticleHero.vue';
import FormattedDate from './FormattedDate.astro';
const { title, pubDate, updatedDate, heroImage, category } = Astro.props;
---

<article class="article">
    <div class="heroImgArea">
        <div class="heroImgInner">
            <VueArticleHero heroImage={heroImage} title={title} client:load/>
            <div class="heroImgBox">
                <div class="articleBox">
                    <span class="articleCategory">{category}</span>
                    <h1 class="articleTitle">{title}</h1>
                    <div class="articleDate">
                        <FormattedDate date={pubDate} />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="articleContainer">
        <slot />
        {
            updatedDate && (
                <div class="articleUpdated">
                    마지막 업데이트 : <FormattedDate date={updatedDate} />
                </div>
            )
        }
    </div>
</article>