---
import ArticleContainer from './ArticleContainer.astro';
import VueArticleHero from './vue/VueArticleHero.vue';
import Hero from './Hero.astro';
import FormattedDate from './FormattedDate.astro';
import PostWarning from './PostWarning.astro';
import PostShare from './PostShare.astro';

const { title, pubDate, updatedDate, heroImage, category, headings } = Astro.props;
---

<ArticleContainer {headings}>
    <Hero slot='hero'>
        <VueArticleHero heroImage={heroImage} title={title} client:load/>
        <span class="articleCategory" slot="category">{category}</span>
        <h2 class="articleTitle" slot="title">{title}</h2>
        <div class="articleDate" slot="date">
            <FormattedDate date={pubDate} />
        </div>
    </Hero>
    <PostWarning {title} slot="bq"/>
    <PostShare slot="share"/>
    <!-- md파일 slot -->
    <slot/>
    <!-- // -->
    <div slot="updated">
        {
            updatedDate && (
                <div class="articleUpdated">
                    마지막 업데이트 : <FormattedDate date={updatedDate} />
                </div>
            )
        }
    </div>
</ArticleContainer>