---
import { SEO } from "astro-seo";
import { SITE } from '../consts';
import '../styles/reset.scss';
import '../styles/variable.scss';
import '../styles/common.scss';
import '../styles/hover.scss';
import '../styles/media.scss';

const { 
	title = SITE.title, 
	description = SITE.desc,
	ogImage = SITE.ogImage,
	ogType = SITE.ogType,
	twitterCard = SITE.twitterCard,
	robots = SITE.robots,
	url = SITE.url
} = Astro.props;

const fullUrl = new URL(url, SITE.url).toString();
const fullOgImage = new URL(ogImage, SITE.url).toString();
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content={robots}>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:url" content={fullUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={fullOgImage} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content={title} />
<meta property="og:locale" content="ko_KR" />

<!-- Twitter -->
<meta property="twitter:card" content={twitterCard} />
<meta property="twitter:url" content={fullUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={fullOgImage} />
<meta property="twitter:image:alt" content={title} />

<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="apple-touch-icon" href="/apple/apple.icon.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />