---
import FormattedDate from '../components/FormattedDate.astro';

const { decodeCategoryLastUrl, myCategory } = Astro.props;
---
<section>
    <h3>{decodeCategoryLastUrl}&nbsp;관련 글</h3>
    <ul class="myPostList">
        {myCategory.map((post) => (
            <li>
                <a href={`/${post.slug}/`} class="myPostLink">
                    <div class="myPostTop">
                        <img class="myPostThumbnail" width={720} height={360} src={post.data.heroImage} alt="" />
                    </div>

                    <div class="myPostBottom">
                        <h4 class="myPostTitle">{post.data.title}</h4>
                        <p class="myPostDescription">{post.data.description}</p>
                        <p class="myPostDate">
                            <FormattedDate date={post.data.pubDate} />
                        </p>
                    </div>
                </a>
            </li>
        ))}
    </ul>
</section>